/* body {
  font-family: Arial, sans-serif;
}
h1 {
  font-family: 'AnelizaLight', sans-serif;
}



.button-nav {
  font-family: 'AnelizaRegular', sans-serif;
  display: display-box;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-nav:hover {
  background-color: #2980b9;
}
 */
