asgiref==3.7.2
channels==4.0.0
Django==3.2.23
django-livereload-server==0.5.1
django_debug_toolbar==3.8.1
greenlet==3.0.2
importlib-metadata==6.7.0
pytz==2023.3.post1
SQLAlchemy==2.0.23
sqlparse==0.4.4
tornado==6.2
typing_extensions==4.7.1
zipp==3.15.0
