@font-face {
  font-family: 'Aneliza-Bold';
  src: url('../../fonts/Aneliza-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Aneliza-BoldItalic';
  src: url('../../fonts/Aneliza-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-SemiBold';
  src: url('../../fonts/Aneliza-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aneliza-SemiBoldItalic';
  src: url('../../fonts/Aneliza-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-ExtraBold';
  src: url('../../fonts/Aneliza-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-ExtraBoldItalic';
  src: url('../../fonts/Aneliza-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-Light';
  src: url('../../fonts/Aneliza-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-LightItalic';
  src: url('../../fonts/Aneliza-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-ExtraLight';
  src: url('../../fonts/Aneliza-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aneliza-ExtraLightItalic';
  src: url('../../fonts/Aneliza-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-Italic';
  src: url('fonts/Aneliza-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-Thin';
  src: url('../../fonts/Aneliza-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-ThinItalic';
  src: url('fonts/Aneliza-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-Regular';
  src: url('../../fonts/Aneliza-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-Medium';
  src: url('../../fonts/Aneliza-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aneliza-MediumItalic';
  src: url('../../fonts/Aneliza-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

a {
  cursor: pointer;
}
.pomodoro_container{
  display: flex;  /* Заменили grid на flex */
  justify-content: center;  /* Выравниваем элементы по центру горизонтально */
  align-items: center;
}

.pomodoro_block{
  border-radius: 3%;
  padding: 74px;
  background-color: white;
  display: grid;
  place-items: center;
  height: auto;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0.5, 0.5);
}
.nav{
  margin-top: 10px;
  margin-bottom: 20px;
}
.condition-quant {
  font-family: 'Aneliza-Medium';
  background-color: beige;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}


.stats-theme-name{
  font-family: 'Aneliza-Medium';
}

.nav-conteiner{
  display: grid;
  align-content: center;
  place-items: center;
  
}
.navigation_block{
  display: grid;
  align-content: start;
  place-items: center;
  height: 600px;
  width: 450px;
  margin: 60px;
  margin-top: 0px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0.5, 0.5);
}


.navigation_block h1 {
  font-family: 'Aneliza-Thin';
    font-size: 25px;
}

.navigation_block label {
  font-family: 'Aneliza-Regular', sans-serif;
}

.stats_block{
  place-items: center;
  height: auto;
  height: 600px;
  width: 450px;
  margin: 60px;
  margin-top: 25px;
  border-radius: 3%;
}

.stats_block  p {
  margin-left: 30px;
}


.stats_block h1, h2{
  text-align: start;
  font-family: 'Aneliza-Thin';
  font-size: 20px;

}
.plotll{
  border-radius: 53px;
  margin: 50px;
}

.button-nav{
  background-color: #3498db;
  font-family: 'Aneliza-Thin';
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 12px 20px;
}


.time{
    position: static;
    font-family: 'Aneliza-Bold', sans-serif;
    font-size: 60px;
    margin: 20px;
}

.button-cont {
    text-align: center;
  }

  /* Стили для общих свойств кнопок */
  .button-cont a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    text-decoration: none;
    font-family: 'Aneliza-Thin';
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
.button-cont2 {
    text-align: center;
  }

.button-cont2 a {
  padding: 12px 20px;
  font-size: 19px ;
  font-family: 'Aneliza-Thin';
}

  /* Стили для каждой конкретной кнопки */
.completed{
  background-color: #4CAF50; /* Зеленый цвет */
}

.button-start{
  background-color: #3498db; /* Синий цвет */
}

.button-stop {
  background-color: #e74c3c; /* Красный цвет */
}

.button-cont a:hover {
  background-color: #555; /* Цвет при наведении */
}
.button-cont2 a:hover {
  background-color: #555; /* Цвет при наведении */
}


.pomodoro_aa{
    height: 300px;
    width: 300px;
}
  
.pomodoro_aa img {
    height: 300px;
    width: 300px;
}

#iframeContainer1 {
  max-width: 800px; /* Максимальная ширина контейнера */
  max-height: 540px; /* Максимальная высота контейнера */
  overflow: auto; /* Добавление полос прокрутки при необходимости */
}

#iframeContainer2 {
    max-width: 800px; /* Максимальная ширина контейнера */
    max-height: 540px; /* Максимальная высота контейнера */
    overflow: auto; /* Добавление полос прокрутки при необходимости */
}



/* Уведомление */

/* CSS */
#notification-container {
  position: fixed;
  top: 0px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

#notification-container.show {
  transform: translateY(0);
}

#notification-container.hidden {
  transform: translateY(-100%);
}

#notification-content {
  color: #333;
}

#notification-title {
  font-size: 16px;
  font-weight: bold;
}

#notification-body {
  font-size: 14px;
  margin-top: 5px;
}


#timer {
  font-size: 40px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px; /* Внутренний отступ */
  background-color: #f8f8f8; /* Цвет фона */
  border: 1px solid #ccc; /* Граница */
  border-radius: 5px; /* Закругление углов */
}

.create-tasks {
  color: #020202; /* Цвет текста */
  font-size: 2em; /* Размер шрифта */
  font-family: 'AnelizaBold';
  text-align: center; /* Выравнивание текста по центру */
  margin-bottom: 20px; /* Отступ снизу */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  font-weight: bold; /* Жирный шрифт */
}

.div-theme-active{
  display: flex; /* Используем flexbox */
  flex-direction: column; /* Выстраиваем элементы в столбик */
  text-align: center; /* Выравнивание текста по центру */
}

.span-theme-active{
  font-size: 15px;
  font-family: 'Aneliza-Light';
  color: black;
}

.theme-active{
  font-family: 'Aneliza-Medium';
  font-size: 24px;
  text-decoration: none;
  color: black;
}



.pos-btn-save-create{
  position: relative;
  bottom: -12px;
  right: -160px;
}

.pos-btn-save-settings{
  position: relative;
  bottom: -28px;
  right: -157px;
}

.pos-btn-save-appearance{
  position: relative;
  bottom: -28px;
  right: -152px;
}


.btn-save {

  display: inline-block;
  font-weight: 400;
  font-family: 'Aneliza-Thin';
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: green;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-save:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}



.today{
  margin-left: 30px;
}


.body-navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.text-box {
  margin-left: 44vw;
 margin-top: 42vh;
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}


.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

/* Убираем стрелочки в Chrome, Safari */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелочки в Firefox */


.time-config {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px;
}

.input-name-tasks{
  display: block;
  width: 100%;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.input-min{
  margin: 5px;
}

.input-minutes{
  width: 45px;
  margin-right: 10px;
  display: block;
  width: 45px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
}

.time-config-2{
  display: flex;
  flex-direction: row;
  justify-content: center
}
/* 
.focus2 {
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
} */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* Выбор мелодии */

.form_radio_group {
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
}
.form_radio_group-item {
  display: inline-block;
  float: left;    
}
.form_radio_group input[type=radio] {
  display: none;
}
.form_radio_group label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-right: none;
  user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
  color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}
.btn-radio-relax{
  margin: 20px;
}

.btn-radio-relax img {
  width: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}
.group-select-relax-melody{
  display: contents;
}
.h2-condition {
  margin: 10px;
}
.h1-condition {
  margin: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-direction: row;
}

.image-container img {
  width: 94px;
  height: 92px;
  border: 2px solid transparent; /* начальное состояние - без рамки */
  cursor: pointer; /* указатель при наведении */
  object-fit: cover;
}

.image-container img:hover {
  border: 2px solid rgb(139, 139, 139); /* рамка при наведении */
}

.frame-register{
  width: 20px;
}

.selected {
  border: 2px solid rgb(0, 0, 0) !important; /* рамка для выбранной картинки */
}

.image-description {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Aneliza-regular';
}

.color-select{
  text-align: center;
  margin: 20px;
  
}

.pomodoros_rests {
  width: auto;
  margin: 20px;
  margin-top: 0px;
  border: 2px solid #000000;
  border-radius: 40px;
}
.profile-block-auth{
  text-align: start;
}
.p_pom_rest {
  margin: 12x 0;
  font-size: 18px;
  font-family: 'Aneliza-Light';
}
.user-png{
  margin: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 65px;
  height: 65px;
}
.stats-nav{
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Aneliza-Thin';
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: none;
}

.stats-nav2{
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Aneliza-Thin';
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: none;
}



.content {
  display: none; /* Скрываем контент по умолчанию */
}

.f-content {
  display: none; /* Скрываем контент по умолчанию */

}

.active {
  display: block; /* Показываем активный контент */
}

.f-active {
  display: block;
  text-align: center;
}

.stats{
  text-align: center;

}

.active-but {
  border-bottom: 2px solid #89c2fe; /* Линия подчеркивания активной кнопки */
}

.active-butt {
  border-bottom: 2px solid #007BFF; /* Линия подчеркивания активной кнопки */
}

.active-but-stats {
  border-bottom: 2px solid #89c2fe; /* Линия подчеркивания активной кнопки */
}

.active-butt-stats {
  border-bottom: 2px solid #007BFF; /* Линия подчеркивания активной кнопки */
}

.stats-theme {
  box-shadow: inset 0 0 0 0.3px #000000;
  background-color: antiquewhite;
  padding: 26px;
  margin: 0px;
  border-radius: 37px;
  margin-left: 0px;
}

.profile-block{
    background-color: antiquewhite;
    width: 350px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0.5, 0.5);
}

.icon-pomo{
  margin: 25px;
  margin-left: 0;
}

.img-auto{
  height: auto;
  width: auto;
}

.text-align-cent{
  text-align: center;
}

.text-align-start{
  text-align: start;
}

.divss {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.reg-or-join{
 margin: 30px;
}

  
#tabsContainer {
  display: none;
}

#tabsContainerPomodoro {
  display: none;
}

.tab {
  padding: 15px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-family: Aneliza;
}

.tab:hover {
  background-color: #ddd;
}
.tab:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tab:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-block{
  background-color: #D3D3D3;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0.5, 0.5);
}

.text-align-start{
  text-align: start;
}

.user-png{
margin: 40px;
margin-top: 15px;
margin-bottom: 15px;
width: 65px;
height: 65px;
}

.icon-pomo{
  margin: 25px;
  margin-left: 0;
  width: 30px;
  opacity: 50%;
}

.icon-pomo:hover{
  opacity: 100%;
}

.tabs-container {
  width: 351px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: solid 1px black;
  margin-top: 10px;
  position: absolute;
}

.profile{
position: sticky;
}