{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="description" content="A page for exploring basic HTML documents">
  <link rel="stylesheet" type="text/css" href='{% static "pomodoro/css/navigation.css" %}'>
  <script src='{% static "pomodoro/js/func.js" %}'></script>

</head>
  <body>
    <div>
        <form action="{% url 'appearance' %}" method="POST">
            <h1 class="h1-condition">Внешний вид</h1>

            {% csrf_token %}
            <div class="color-select">
                <input type="color" id="head" name="color" value="{{ color }}" />
                <label for="color">Цвет фона</label>
                <input type="color" id="head" name="color_navigation" value="{{ color_navigation }}" />
                <label for="color_navigation">Цвет навигации</label>
            </div>  
            <div class="image-container">
                <div>
                    <img src="{% static "pomodoro/img/none.png" %}" alt="Картинка 1" onclick="selectImage(this, 'pomodoro/img/none.png')">
                    <p class="image-description">Нет</p>
                </div>
                <div>
                    <img src="{% static "pomodoro/img/shakh.png" %}" alt="Картинка 1" onclick="selectImage(this, 'pomodoro/img/shakh.png')">
                    <p class="image-description">Шахматы</p>
                </div>
                <div>
                    <img src="{% static "pomodoro/img/dzen.png" %}" alt="Картинка 1" onclick="selectImage(this, 'pomodoro/img/dzen.png')">
                    <p class="image-description">Дзен</p>
                </div>
                <div>
                    <img src="{% static "pomodoro/img/elka.png" %}" alt="Картинка 1" onclick="selectImage(this, 'pomodoro/img/elka.png')">
                    <p class="image-description">Ёлка</p>
                </div>
            </div>
            <input type="hidden" id="selectedImage" name="vector" value="">
            <div class="group-select-relax-melody">
              <h1 class="h1-condition">Звук уведомления</h1>

              <h2 class="h2-condition">Работа</h2>
              <div class="form_radio_group">
                  <div class="form_radio_group-item">
                      <input id="radio-6" type="radio" name="work" value='{% static "pomodoro/melody/matrix.mp3" %}' onchange="updateSelectionWork(this)">
                      <label for="radio-6">Матрица</label>
                  </div>
      
                  <div class="form_radio_group-item">
                      <input id="radio-7" type="radio" name="work" value='{% static "pomodoro/melody/korol.mp3" %}' onchange="updateSelectionWork(this)">
                      <label for="radio-7">Король</label>
                  </div>
                  <div class="form_radio_group-item">
                      <input id="radio-8" type="radio" name="work" value='{% static "pomodoro/melody/vremya.mp3" %}' onchange="updateSelectionWork(this)">
                      <label for="radio-8">Время</label>
                  </div>
                  <div class="form_radio_group-item">
                      <input id="radio-9" type="radio" name="work" value='{% static "pomodoro/melody/steklo.mp3" %}' onchange="updateSelectionWork(this)">
                      <label for="radio-9">Стекло</label>
                  </div>
              </div>
              <a class="btn-radio-relax" onclick="playSelectSoundRelax('work')"><img src="{% static 'pomodoro/img/zvuk.png' %}" alt=""></a>
          </div>
          <div class="group-select-relax-melody">
              <h2 class="h2-condition">Отдых</h2>
              <div class="form_radio_group">
                  <div class="form_radio_group-item">
                      <input id="radio-1" type="radio" name="relax" value='{% static "pomodoro/melody/matrix.mp3" %}' onchange="updateSelectionRelax(this)">
                      <label for="radio-1">Матрица</label>
                  </div>
      
                  <div class="form_radio_group-item">
                      <input id="radio-3" type="radio" name="relax" value='{% static "pomodoro/melody/korol.mp3" %}' onchange="updateSelectionRelax(this)">
                      <label for="radio-3">Король</label>
                  </div>
                  <div class="form_radio_group-item">
                      <input id="radio-4" type="radio" name="relax" value='{% static "pomodoro/melody/vremya.mp3" %}' onchange="updateSelectionRelax(this)">
                      <label for="radio-4">Время</label>
                  </div>
                  <div class="form_radio_group-item">
                      <input id="radio-5" type="radio" name="relax" value='{% static "pomodoro/melody/steklo.mp3" %}' onchange="updateSelectionRelax(this)">
                      <label for="radio-5">Стекло</label>
                  </div>
              </div>
              <a class="btn-radio-relax" onclick="playSelectSoundRelax('relax')"><img src="{% static 'pomodoro/img/zvuk.png' %}" alt=""></a>
          </div>
            <div>
              <button class="btn-save pos-btn-save-appearance" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
      
  </body>
</html>