  {% load static %}
  <!DOCTYPE HTML>
  <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="A page for exploring basic HTML documents">
    <link rel="stylesheet" type="text/css" href='{% static "pomodoro/css/navigation.css" %}'>
    <script src='{% static "pomodoro/js/navigation.js" %}'></script>
    </head>
    <body>
      <h1>Навигация</h1>
      <a id="tasksButton">Посмотреть задачи</a>
      <a href="">Создать задачу</a>
      <a href="">Настройки</a>
      <a href="">Внешний вид</a>
    </body>
  </html>